<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.abhacci.amado.abhachamber_android_app1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.abha.chamber.abhachamber_android_app3.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.abha.chamber.abhachamber_android_app3.introduction._IntroductionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.abha.chamber.abhachamber_android_app3.home.HomeActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>